#slider {
  width: 750px;
  height: 600px;

  overflow: hidden;
  position: relative;
}

.slider-image {
  position: absolute;
  display: flex;
  left: 100%;
}

button {
  margin: 10px;
  width: 100px;
  height: 40px;
}
